#socialMedia {
  padding: 2rem;
  border-radius: 6px;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

#socialMedia ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

#socialMedia li {
  flex: 1;
  text-align: center;
}

#socialMedia li a {
  text-decoration: none;
  color: inherit;
}

#socialMedia li img {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  background-color: transparent;
}

#socialMedia li h3 {
  margin: 0.5rem 0;
}

#socialMedia li p {
  font-size: 0.9rem;
  white-space: pre-line;
  text-align: center;
}
